@font-face{

    font-family: 'Verdana';

    src: url('text/verdana.ttf');

    font-weight: normal;

    font-style: normal;

}

@font-face{

    font-family: 'Ebrima';

    src: url('text/ebrima.ttf');

    font-weight: normal;

    font-style: normal;

}

body {
    background-color: #0A0A0A;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
header {
    background-color: #142E32;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.firstPhoto{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
main {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
}

section {
    display: flex;
    flex-direction: row;
}
h1 {
    text-align: center;
    color: #FFF;
    font-size: 24pt;
    font-weight: bolder;
    font-style: italic;
    font-family: Verdana;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 70px;
    align-items: center;
}
/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #142E32;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
#dropdown-content.active {
    display: block;
    position: absolute;
    background-color: #142E32;
    width: 100%;
    height: 93%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-text {
    margin-top: 40%;
}
#dropdown-content h1 {
    font-size: 40pt;
    margin-top: 5%;
}
.dropdown-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

/* Ссылки внутри выпадающего списка */
#dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:active .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.titleContainer {
    margin-left: 25px;
}
.centerTitle {
    text-align: justify;
    text-align-last: justify;
    margin: 30px;
    font-size: 42pt;

}
.title {
    font-family: Verdana;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
}
.menu{
    color: #FFF;
    margin: 0;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-decoration: none;
    font-size: 14pt;
}

a :hover{                      /* text-decoration:line-through; Добавляем зачеркивание */
    color: #5FFAFF;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}
.icon {
    width: 40px;
    height: 40px;
    margin: 0;
}

#EyeImg{
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.EyeImg {
    width: 80%;
}
.line {
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;
    z-index: 3;
}
.article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5%;
}
.article2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5%;
}

.article2  aside.rightShortText{
    margin-top: 0;
}

aside {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.articleText {
    font-family: Ebrima;
    font-weight: 400;
    line-height: 20px;
    font-size: 20px;
    width: 100%;
    margin:0;
}
.rightShortText {
    margin: 0;
    margin-top: 100px;
    display: flex;
    align-self: end;
    width: 80%;
}
.rightShortText p {
    text-align: end;
    margin: 0;
}
.rightShortText h1 {
    width: 100%;
    text-align: end;
    margin: 0;
    margin-bottom: 20px;
    font-size: 36pt;
}
.leftShortText h1 {
    font-size: 36pt;
    margin: 0;
    margin-bottom: 20px;
    text-align: start;
    width: 100%;
}
.leftShortText{
    display: flex;
    align-self: start;
    width: 80%;
    margin: 0;
}

#str2{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
}
.section2{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.textGif{
    white-space: normal;
    font-size: 16px;
    font-family: Ebrima;
}
.gif2{
    position: relative;
}
#textText1{
    display: flex;
    width: 50%;
    margin-left: 50px;
}
#Gif1{
    display: flex;
    width: 70%;
}
#textText2{
    display: flex;
    width: 30%;
    margin-right: 50px;
    align-self: center;
}
#Gif2{
    display: flex;
    margin: auto;
    width: 50%;
}
.top{
    color: #FFF;
    font-size: 24pt;
    font-weight: bolder;
    font-style: italic;
    text-align: start;
    margin-bottom: 20px;
}
.textText{
    display: flex;
    flex-direction: column;
}
.photo-container-5 {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.photo-container-5 img {
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.photo-container-5 .photo-1 {
    position: relative;
    animation: brightness 10s linear 5s infinite;
}
.photo-container-5 .photo-2 {
    position: absolute;
    top: 0;
    animation: brightness 10s linear infinite;
}
@keyframes brightness {
    0% {
        opacity: 1;
    }
    54% {
        filter: none;
    }
    58% {
        opacity: 1;
    }
    59.99999% {
        filter: brightness(10);
        z-index: 1;
    }
    60% {
        opacity: 0;
        z-index: -1;
    }
}

.map{
    display: flex;
    position: relative;
    flex-direction: column;
}

.new{
    width: 100%;
    display: flex;
    position: absolute;
    margin-left: -2%;
}
#map {
    position: relative;
    text-align: center;
}
.newMap{
    width: 100%;
}
#title {
    position: absolute;
    left: 10%;
    top: 5%;
}
#first {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 50%;
    left: 30%;
    top: 10%;
}
#first p {
    margin-top: 2%;
    width: 80%;
    font-family: Ebrima;
    font-size: 20px;
    text-align: end;
}
#second {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    left: 9%;
    top: 38%;
}
#second p {
    margin-top: 2%;
    width: 80%;
    font-family: Ebrima;
    font-size: 20px;
    text-align: start;
}
#third {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 50%;
    left: 30%;
    top: 60%;
}
#third p {
    margin-top: 2%;
    width: 80%;
    font-family: Ebrima;
    font-size: 20px;
    text-align: end;
}
#fourth {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    left: 9%;
    top: 80%;
}
#fourth p {
    margin-top: 2%;
    width: 80%;
    font-family: Ebrima;
    font-size: 20px;
    text-align: end;
}


#str3Block{
    margin: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: transparent;
    position: relative;
}
#str3Block h1 {
    margin: 5% 0;
    font-size: 42pt;
}
.profiles{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;

}
.account{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}
.column{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.photo{
    margin-left: 6%;
    margin-right: 6%;
}
.name{
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 24pt;
    font-weight: bolder;
    font-style: italic;
    padding: 2px;
    width: 70%;
    align-self: center;
}
.inf{
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 6%;
    margin-right: 6%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 16pt;
    padding: 10px;
}

.end {
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 90%;
}
.end h1 {
    text-align: start;
    color: #FFF;
    font-size: 18pt;
    font-weight: bolder;
    font-style: italic;
    font-family: Verdana;
}

.end p {
    white-space: normal;
    font-size: 8pt;
    font-family: Ebrima;
    margin-bottom: 2%;
}

#str4{
    margin-top: 0;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#icon{
    display: flex;
    position: relative;
    width: 50%;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}
.icon2{
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;

}
#icon a.menu{
    margin-left: 10px;
    margin-right: 10px;
}
.bottom{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    justify-content: start;
    align-items: center;
}
.bottom p {
    width: 60%;
    font-family: Ebrima;

    font-size: 18pt;
    margin-bottom: 10px;
}
.email {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 50px;
}
#bottomEmail{
    font-size: 24pt;
    text-align: start;
    width: 100%;
    font-style: italic;
}

.arrowIcon {
    height: auto;
    width: 10%;
    background-color: #4A4A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowIcon img {
    width: 20px;
    height: 20px;
}
.email input {
    background-color: #272526;
    width: 100%;
    height: auto;
    border: none;
    display: flex;
    color: #ffffff;
    font-style: italic;
}
#textBottom1{
    display: flex;
    position: relative;
    margin: 0%;
    margin-bottom: 5%;
    width: 50%;
    align-self: center;
    font-family: Ebrima;
    line-height: 100%;
    font-size: 16pt;
}
#textBottom2{
    display: flex;
    position: relative;
    margin: 0;
    margin-bottom: 5%;
    width: 50%;
    align-self: center;
    font-family: Ebrima;
    line-height: 100%;
    font-size: 16pt;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.carousel {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    position: relative;
    width: 100%;
    justify-content: center;
}
.carousel__images {
    align-items: center;
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}
.carousel__images img {
    border-radius: 5px;
    height: 400px;
    width: 26%;
}
.carousel__images img.active {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    height: 500px;
    width: 48%;
    z-index: 1;
}
.carousel__button {
    background: teal;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
}
.carousel__button.previous {
    left: 32%;
}
.carousel__button.next {
    right: 32%;
}
.carousel__button:hover {
    opacity: 0.5;
}
.marquee{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
}

.marquee h1 {
    display:inline-block;
    padding-left:100%;
    -webkit-animation: marquee 10s infinite linear;
    animation: marquee 10s infinite linear;
}

@-webkit-keyframes marquee {
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
}